<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>CacheControlFilter</filter-name>
    <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
    <init-param>
        <param-name>ExpiresByType image/*</param-name>
        <param-value>access plus 1 month</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <!-- Match all images in assets/images/ and its subdirectories -->
    <url-pattern>/assets/images/*</url-pattern>
</filter-mapping>
  <servlet>
    <description></description>
    <display-name>Crave</display-name>
    <servlet-name>Crave</servlet-name>
    <servlet-class>com.foodapp.controller.Crave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Crave</servlet-name>
    <url-pattern>/Crave</url-pattern>
  </servlet-mapping>
  <display-name>FOODAPP</display-name>
  <welcome-file-list>
    <welcome-file>Crave</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.foodapp.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.foodapp.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantOwnerServlet</display-name>
    <servlet-name>RestaurantOwnerServlet</servlet-name>
    <servlet-class>com.foodapp.controller.RestaurantOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantOwnerServlet</servlet-name>
    <url-pattern>/RestaurantDashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemAdminServlet</display-name>
    <servlet-name>SystemAdminServlet</servlet-name>
    <servlet-class>com.foodapp.controller.SystemAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemAdminServlet</servlet-name>
    <url-pattern>/SystemAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.foodapp.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.foodapp.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.foodapp.controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenuItemServlet</display-name>
    <servlet-name>AddMenuItemServlet</servlet-name>
    <servlet-class>com.foodapp.controller.AddMenuItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuItemServlet</servlet-name>
    <url-pattern>/AddMenuItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMenuItemServlet</display-name>
    <servlet-name>EditMenuItemServlet</servlet-name>
    <servlet-class>com.foodapp.controller.EditMenuItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMenuItemServlet</servlet-name>
    <url-pattern>/EditMenuItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMenuItemServlet</display-name>
    <servlet-name>DeleteMenuItemServlet</servlet-name>
    <servlet-class>com.foodapp.controller.DeleteMenuItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMenuItemServlet</servlet-name>
    <url-pattern>/DeleteMenuItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryAgent</display-name>
    <servlet-name>DeliveryAgent</servlet-name>
    <servlet-class>com.foodapp.controller.DeliveryAgent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryAgent</servlet-name>
    <url-pattern>/DeliveryAgent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantAddServlet</display-name>
    <servlet-name>RestaurantAddServlet</servlet-name>
    <servlet-class>com.foodapp.controller.RestaurantAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantAddServlet</servlet-name>
    <url-pattern>/RestaurantAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantAllServlet</display-name>
    <servlet-name>RestaurantAllServlet</servlet-name>
    <servlet-class>com.foodapp.controller.RestaurantAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantAllServlet</servlet-name>
    <url-pattern>/RestaurantAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantRemoveServlet</display-name>
    <servlet-name>RestaurantRemoveServlet</servlet-name>
    <servlet-class>com.foodapp.controller.RestaurantRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantRemoveServlet</servlet-name>
    <url-pattern>/RestaurantRemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentServlet</display-name>
    <servlet-name>AgentServlet</servlet-name>
    <servlet-class>com.foodapp.controller.AgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentServlet</servlet-name>
    <url-pattern>/AgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectAllAgents</display-name>
    <servlet-name>CollectAllAgents</servlet-name>
    <servlet-class>com.foodapp.controller.CollectAllAgents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectAllAgents</servlet-name>
    <url-pattern>/CollectAllAgents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignAgentServlet</display-name>
    <servlet-name>AssignAgentServlet</servlet-name>
    <servlet-class>com.foodapp.controller.AssignAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignAgentServlet</servlet-name>
    <url-pattern>/AssignAgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentSignUpServlet</display-name>
    <servlet-name>AgentSignUpServlet</servlet-name>
    <servlet-class>com.foodapp.controller.AgentSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentSignUpServlet</servlet-name>
    <url-pattern>/AgentSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserDetails</display-name>
    <servlet-name>EditUserDetails</servlet-name>
    <servlet-class>com.foodapp.controller.EditUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserDetails</servlet-name>
    <url-pattern>/EditUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantSignUpServlet</display-name>
    <servlet-name>RestaurantSignUpServlet</servlet-name>
    <servlet-class>com.foodapp.controller.RestaurantSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantSignUpServlet</servlet-name>
    <url-pattern>/RestaurantSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderDetails</display-name>
    <servlet-name>ViewOrderDetails</servlet-name>
    <servlet-class>com.foodapp.controller.ViewOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderDetails</servlet-name>
    <url-pattern>/ViewOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>com.foodapp.controller.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderStatusController</display-name>
    <servlet-name>orderStatusController</servlet-name>
    <servlet-class>com.foodapp.controller.orderStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderStatusController</servlet-name>
    <url-pattern>/orderStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMenuFormServlet</display-name>
    <servlet-name>EditMenuFormServlet</servlet-name>
    <servlet-class>com.foodapp.controller.EditMenuFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMenuFormServlet</servlet-name>
    <url-pattern>/EditMenuFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRestaurantServlet</display-name>
    <servlet-name>EditRestaurantServlet</servlet-name>
    <servlet-class>com.foodapp.controller.EditRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRestaurantServlet</servlet-name>
    <url-pattern>/EditRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDeliveryAgentServlet</display-name>
    <servlet-name>EditDeliveryAgentServlet</servlet-name>
    <servlet-class>com.foodapp.controller.EditDeliveryAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDeliveryAgentServlet</servlet-name>
    <url-pattern>/EditDeliveryAgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserProfile</display-name>
    <servlet-name>UpdateUserProfile</servlet-name>
    <servlet-class>com.foodapp.controller.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfile</servlet-name>
    <url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
</web-app>